{% liquid
  assign header_menu          = section.settings.header_menu
  assign collection_link_text = section.settings.collection_link_text
  assign blocks               = section.blocks
  assign logo                 = section.settings.logo_image
  assign advertising          = section.settings.advertising
%}

<header class="header">
	<input class="header__nav-icon-toggle" type="checkbox" id="menu-icon-toggle">
	<div class="header__advertising {% if advertising %}header__advertising--is-active{% endif %}">
		Sale 40% на женскую обувь | Бесплатная доставка
	</div>
	<div class="header__nav--wrapper">
		<div class="header__nav container">
			<ul class="header__nav-list">
				{% for link in header_menu.links %}
					<li class="header__nav-item {% if forloop.index0 == 0 %}active{% endif %}">
						{{ link.title | link_to: "#" }}
					</li>
				{% endfor %}
			</ul>
			<div class="header__nav-opener-wrapper">
				<label class="header__nav-opener" for="menu-icon-toggle">
					<img class="open" alt="nav opener" src={{ '../assets/header-opener.svg' | asset_url }}>
					<img class="close" alt="nav opener" src={{ '../assets/menu-close.svg' | asset_url }}>
				</label>
			</div>
			<a class="header__logo" href="#">
				<img src="{{ logo | img_url: 'master' }}" alt="logo">
			</a>
			<div class="header__goods-info">
				<div class="header__good-info-logo">
					<img alt="search goods" src={{ '../assets/search-icon.svg' | asset_url }}>
				</div>
				<div class="header__basket">
					<div class="header__good-info-logo">
						<img alt="basket of goods" src={{ '../assets/basket-icon.svg' | asset_url }}>
					</div>
					<div class="header__basket--counter">0</div>
				</div>
			</div>
		</div>
	</div>

	<div class="header__mobile-menu">
		<div>
			<ul class="header__nav-list">
				<li class="header__nav-item active">Женщинам</li>
				<li class="header__nav-item">Мужчинам</li>
			</ul>

			<div class="container">
				<ul class="header__submenu-list">
					<li class="header__submenu-item">
						<div class="header__submenu-item-title">
							Одежда
							<input class="header__submenu-item-input" type="checkbox" id="Одежда">
							<label class="header__submenu-item-sign" for="Одежда"></label>
						</div>
					</li>
					<li class="header__submenu-item">
						<input class="header__submenu-item-input" type="checkbox" id="Обувь">
						<div class="header__submenu-item-title">
							Обувь
							<label class="header__submenu-item-sign" for="Обувь">
								<img class="open" alt="nav opener" src={{ '../assets/submenu-item-open.svg' | asset_url }}>
								<img class="close" alt="nav opener" src={{ '../assets/submenu-item-close.svg' | asset_url }}>
							</label>
						</div>
						<ul class="header__submenu-item-list">
							<li class="header__submenu-item-item">Все</li>
							<li class="header__submenu-item-item">Босоножки</li>
							<li class="header__submenu-item-item">Ботинки</li>
							<li class="header__submenu-item-item">Кроссовки</li>
							<li class="header__submenu-item-item">Сапоги</li>
							<li class="header__submenu-item-item">Туфли</li>
						</ul>
					</li>
					<li class="header__submenu-item">Аксессуары</li>
					<li class="header__submenu-item">
						<div class="header__submenu-item-title">
							Бренды
						</div>
					</li>
					<li class="header__submenu-item">
						<div class="header__submenu-item-title">
							Новые поступления
						</div>
					</li>
					<li class="header__submenu-item">
						<div class="header__submenu-item-title">
							Sale
						</div>
					</li>
					<li class="header__submenu-item">
						<div class="header__submenu-item-title">
							Наши магазины
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="header__mobile-menu-params-wrapper">
			<div class="container header__mobile-menu-params">
				<div class="header__mobile-menu-phone">
					+38 056 767 37 88
				</div>
				<div class="header__mobile-menu-langs">
					<span class="header__mobile-menu-lang active">ru</span>
					<span class="header__mobile-menu-hug">|</span>
					<span class="header__mobile-menu-lang">ua</span>
				</div>
			</div>
		</div>
	</div>

	<div class="header__submenu--wrapper">
		{% liquid assign active_link = header_menu.links[0] %}

		<div class="header__submenu container">
			<ul class="header__submenu-list">
				{% for sub_link in active_link.links %}
						<li class="header__submenu-item">{{ sub_link.title | link_to: sub_link.url }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "header",
  "class": "header",
  "settings": [
	{
	  "type": "checkbox",
	  "id": "advertising",
	  "label": "Advertising",
	  "default": true
	},
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.paragraph"
    },
    {
      "type": "link_list",
      "id": "header_menu",
      "label": "Header menu"
    },
    {
      "type": "text",
      "id": "collection_link_text",
      "label": "Collection link text",
      "default": "В каталог"
    },
	{
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo"
	}
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection",
          "info": "Коллекции привязанны к [элементам навигации](https://www.shopify.com/admin/menus) в порядке очередности. То есть первая коллекция выведется в выпадающем меню первого элемента навигации. Создайте блок, не выбирая коллекцию, если нет необходимости выводить коллекию в выпадающем меню"
        }
      ]
    }
  ]
}
{% endschema %}
