{% assign subtotal_price = cart.items_subtotal_price | money_without_trailing_zeros | replace: ',', ' ' %}

<div id="cart">
	<div class="container">
		<div class="cart__title">
			<h1>
				Your cart
			</h1>
			<a href="#">Continue shoping</a>
		</div>
		<form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
			<div class="cart__content">
			<div class="cart__content-titles-wrapper">
				<div class="cart__content-titles">
					<h2>product</h2>
					<h2 class="cart__content-price">price</h2>
				</div>
				<div class="cart__content-titles">
					<h2 class="cart__content-quantity">quantity</h2>
					<h2>total</h2>
				</div>
			</div>
			<div class="cart__line"></div>

			{% for item in cart.items %}
				{%	assign item_price = item.price | money_without_trailing_zeros | replace: ',', ' ' %}
				{%	assign total_price = item.price | times: item.quantity | money_without_trailing_zeros | replace: ',', ' ' %}


				<div
					 class="cart__product"
					 data-max-quantity="{{ item.variant.inventory_quantity }}"
					 data-variant-id="{{ item.variant.id }}">
					<div class="cart__product-content">
						<div class="cart__product-info">
							<div class="cart__product-logo">
								<img class="cart__payment-button-logo" src="{{ item.image | img_url: 'master' }}" alt="{{ item.image }}">
							</div>
							<div class="cart__product-values">
								<div class="cart__product-name">
									{{ item.product.title }}
								</div>
								<div class="cart__product-size">
									Size: {{ item.variant.title }}
								</div>
							</div>
						</div>

						<div class="cart__product-price">
							{{ item_price | slice: 1, item_price.size }} грн
						</div>
					</div>
					<div class="cart__product-actions">
						<div class="cart__product-quantity">
							<button class="cart__product-quantity-button" type="button" data-value="+1">+</button>
							<div class="cart__product-quantity-count" data-cart-qty>
								{{ item.quantity }}
							</div>
							<button class="cart__product-quantity-button" type="button" data-value="-1">-</button>
						</div>
						<div class="cart__product-total">
							<div class="cart__product-price" data-item-total>
								{{ total_price | slice: 1, total_price.size }} грн
							</div>
							<a href="{{ item.url_to_remove }}" class="cart__product-delete">
								<img src="{{ 'trash.svg' | asset_url }}" class="cart__payment-button-logo" alt="delete product">
							</a>
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="cart__line"></div>
		</div>
		</form>
		<div class="cart__payments">
			<div class="cart__subtotal">
				<div class="cart__subtotal-title">productId
					Subtotal:
				</div>
				<div class="cart__subtotal-count">
					{{ subtotal_price | slice: 1, item_price.size }} грн
				</div>
			</div>
			<div class="cart__payments-info">
				Taxes and shipping calculated at checkout
			</div>
			<a href="/checkout" class="cart__payment-button cart__payment-button--check-out">Check out</a>
			<button class="cart__payment-button cart__payment-button--shop-pay">
				<img class="cart__payment-button-logo" src="{{ 'shop-pay.svg' | asset_url }}" alt="shop pay">
			</button>
			<button class="cart__payment-button cart__payment-button--g-pay">
				<img class="cart__payment-button-logo" src="{{ 'g-pay.svg' | asset_url }}" alt="google pay">
			</button>
		</div>
	</div>
</div>
