{% liquid
	assign products     = collections[product.collections[0].handle].products
	assign slider_title = section.settings.title
%}

<div id="product-slider" class="container similar-slider">
	<div class="product-slider__title">
		{{ slider_title }}
	</div>
	<div class="swiper mySwiper product-slider__swiper">
		<div class="swiper-wrapper">
			{% for slider_product in products %}
				{% if slider_product.id != product.id %}
					{% liquid
						assign product_media = slider_product.media[0]
						assign product_price = slider_product.price | money_without_trailing_zeros | replace: ',', ' '
					%}
					<div class="swiper-slide product-slider__slide">
						<div class="product-slider__good-img">
							<a href="{{ slider_product.url }}">
								<img alt="{{ product_media.alt }}" src={{ product_media.src | img_url: 'master' }}>
							</a>
						</div>
						<div class="product-slider__good-title">{{ slider_product.title | link_to: slider_product.url }}</div>
						<div class="product-slider__good-collection">{{ slider_product.description }}</div>
						<div class="product-slider__good-price">{{ product_price | slice: 1, product_price.size }} грн</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="swiper-button-next">
			<img alt="next slide" src={{ "next-img.svg" | asset_url }}>
		</div>
		<div class="swiper-button-prev">
			<img alt="prev slide" src={{ "prev-img.svg" | asset_url }}>
		</div>
		<div class="product-slider__swiper-pagination">
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>

<script type="module">
	import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js';

	const productSliderSwiper = new Swiper(".product-slider__swiper", {
		slidesPerView: 2,
		slidesPerGroup: 1,
		spaceBetween: 5,
		loop: true,
		loopFillGroupWithBlank: true,
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
		},
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
		breakpoints: {
			991: {
				slidesPerView: 4,
				spaceBetween: 10,
				slidesPerGroup: 1,
			}
		},
	});
</script>


{% schema %}
{
	"name": "Product slider",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		}
	],
	"presets": [
		{
			"name": "Product slider",
			"category": "PDP"
		}
	]
}
{% endschema %}

