{% liquid
	assign products_handle_list = product.metafields.product.product_list.value | split: ','
	assign slider_title         = section.settings.title
%}

<div id="product-slider" class="container recommendation-slider">
	<div class="product-slider__title">
		{{ slider_title }}
	</div>
	<div class="swiper mySwiper product-slider__swiper">
		<div class="swiper-wrapper">
			{% for handle in products_handle_list %}
				{% assign product = all_products[handle] %}

				{% liquid
					assign product_media = product.media[0]
					assign product_price = product.price | money_without_trailing_zeros | replace: ',', ' '
				%}
				<div class="swiper-slide product-slider__slide">
					<div class="product-slider__good-img">
						<img alt="{{ product_media.alt }}" src={{ product_media.src | img_url: 'master' }}>
					</div>
					<div class="product-slider__good-title">{{ product.title | link_to: '#' }}</div>
					<div class="product-slider__good-collection">{{ product.description }}</div>
					<div class="product-slider__good-price">{{ product_price | slice: 1, product_price.size }} грн</div>
				</div>
			{% endfor %}
		</div>
		<div class="swiper-button-next">
			<img alt="next slide" src={{ "next-img.svg" | asset_url }}>
		</div>
		<div class="swiper-button-prev">
			<img alt="prev slide" src={{ "prev-img.svg" | asset_url }}>
		</div>
		<div class="product-slider__swiper-pagination">
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>

<script type="module">
	import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js';

	const productSliderSwiper = new Swiper(".product-slider__swiper", {
		slidesPerView: 2,
		slidesPerGroup: 1,
		spaceBetween: 5,
		loop: true,
		loopFillGroupWithBlank: true,
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
		},
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
		breakpoints: {
			991: {
				slidesPerView: 4,
				spaceBetween: 10,
				slidesPerGroup: 1,
			}
		},
	});
</script>

{% schema %}
{
	"name": "Product slider manual",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		}
	],
	"presets": [
		{
			"name": "Product slider manual",
			"category": "PDP"
		}
	]
}
{% endschema %}

